/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */

.external-link-card__media {
  background-color: var(--accent-color-darker);
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
